.logo
{
font-size: 30px;
color: rgb(128,0,0);
padding: 0%;
font: bold;
position: fixed;
top: 0;
width: 100%;
}

.page_header
{
text-align: center;
}

.navbar
{
    margin: 0;
    padding: top 5px;; 
    position: fixed;
    top: 10%;
    width: 100%;
}

.navbar_item
{
    color: black;
    padding: 5;
    word-spacing: 20px;
    text-decoration: none;
}


img
{
    border-radius: 70%;
    max-width: 100%;
    height: 350px;
    width: 350px;
  
}
.img_card
{
padding: 5%;
align-items: center;
align-content: center;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.card_body
{
    margin: 10px 20px;
    width: 400px;
    overflow: hidden;
    background-color: rgb(251, 251, 251);
}

.name
{
    background-color:rgb(128,0,0);
    padding: 10px;
    color: white;
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    font-weight: 100;
    font-style: bold;
    font-size: 20px;
}

footer
{
    background-color: rgba(223, 218, 218, 0.785);
    margin: auto;
    padding: 5%;
}

.page_header
{
    background-image: url(coffeeheader.jpeg);
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-bottom: 5%;
}

#TESTIMONIALS_header
{
color: white;
font-size: 70px;
padding: 3%;
margin-top: 8%;
}

head
{
    text-align: inline;
}

.review
{
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    font-weight: 100;
    font-style:normal;
    font-size: 20px;
    padding: 0%;
}
 
    
.checked {
    color: rgb(128,0,0);
  }


  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: black;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 1px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
